@page
@model CustomerManager.Web.Pages._IndexPartialModel
@{
} 

    <h1>Manage Customers</h1>

      
    <form id="insertForm" action="javascript:void(0);" method="POST" onsubmit="addItem()">
        <input type="text" id="add-firstname" placeholder="First name">
        <input type="text" id="add-lastname" placeholder="Last name">
        <input type="submit" value="Quick Add">
    </form>

    <div id="editForm">
        <h3>Edit</h3>
         <form action="javascript:void(0);" onsubmit="updateItem()">
            
        <table style="width:20%">
            <tr>
            <th> Edit customer detail

                <input type="hidden" id="edit-id"> 
                </th>
                <th>
                    <a onclick="closeInput()" aria-label="Close">&#10006;</a>
                </th> 
            </tr> 
            <tr>
                <td> First name:</td>
                <td><input type="text" id="edit-firstname" maxlength="50"> 
                </td> 
            </tr>
             <tr>
                <td> Last name:</td>
                <td>
                    <input type="text" id="edit-lastname" maxlength="50">
                </td> 
            </tr>
             <tr>
                <td> Age:</td>
                <td>
                    <input type="text" id="edit-age" maxlength="3" data-validate="number" onkeypress="return numbersOnly(event)"  >
                </td> 
            </tr>
             <tr>
                <td> Address:</td>
                <td>
                    <textarea id="edit-address" maxlength="350" rows="4"></textarea>
                </td> 
            </tr>
            <tr>
                <td> Telephone:</td>
                <td>
                    <input type="text" id="edit-telephone" maxlength="15" onkeypress="return numbersOnly(event)" >
                </td> 
            </tr>
            <tr>
                <td> Reference:</td>
                <td>
                    <input type="text" id="edit-reference" maxlength="25">
                </td> 
            </tr> 
            <tr>
                <td> &nbsp; </td>
                <td>
                    <input type="submit" value="Save">
                </td> 
            </tr>
        </table>   
            
            
        </form>
    </div>


    <table>
        <tr colspan="5" style="align-content:left"> 
            <p id="counter"></p>
        </tr>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>Reference</th>
            <th></th>
            <th></th>
        </tr>
        <tbody id="customerTbl"></tbody>
    </table>
    
    <script src="~/js/customermanager.ui.js" asp-append-version="true"></script>
    <script type="text/javascript"> 

        getCustomers(); 

       
    </script>