@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
 
  @if (!HttpContext.User.Identity.IsAuthenticated)
    {
        <p> Welcome! Please  <a href="~/Identity/Account/Login">login</a>.</p> 
        <img src="~/assets/img/customerservicemanager1.jpg" width="300px"/>
    }
    else
    {
          
          @Html.Partial("_IndexPartial",new _IndexPartialModel{})
    }
</div>
